.header-container {
  align-items: center;
  background-color: #004b40;
  display: flex;
  flex-direction: row;
  height: 9.3916vh;
  padding: 2.3479vh 3.889vw;
}

.logo {
  margin-right: 8.542vw;
  width: 9rem;
}

.header-options {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.icon-bar {
  color: #fdfdfd;
  cursor: pointer;
  font-size: 2.5rem;
}

.title-header {
  color: #fdfdfd;
  font-size: 2rem;
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: row;
}

.container-sidebar {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  width: 23%;
}

.sidebar-profile {
  align-items: center;
  border-bottom: 1px solid #707070;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5613vh;
  padding: 4.2689vh 6.944vw 1.7075vh 6.944vw;
}

.profile {
  background-color: #d1fbd9;
  border-radius: 100%;
  height: 8.681vw;
  margin-bottom: 8px;
  width: 8.681vw;
}
.profile-title-user {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.title-profile {
  font-size: 1.5rem;
  margin: 0px;
}

.sidebar-information {
  padding: 0;
}

.information-tag {
  color: #004b40;
  cursor: pointer;
  font-size: 1.313rem;
  list-style: none;
  padding: 1.921vh 1vw 1.921vh 3.75vw;
}

.information-tag:hover {
  background-color: #004b40;
  color: #fdfdfd;
}

.container-principal {
  display: flex;
  flex-direction: column;
  padding: 6.8303vh 5.208vw 10.2454vh 5.208vw;
  width: 100%;
}

.principal-subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 48px;
}

.subtitle {
  color: #004b40;
}

.principal-title {
  color: #004b40;
  font-size: 2.375rem;
  font-weight: 600;
  margin-bottom: 1.7075vh;
}

.text-search {
  font-size: 1.375rem;
  font-weight: 500;
  margin: 0;
}
.icon-search {
  font-size: 1.944vw;
}

.principal-text-search {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1.7075vh;
  margin-bottom: 5.1227vh;
}

.principal-search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.7075vh;
}

.search-row {
  display: flex;
  flex-direction: row;
  gap: 6.8303vh;
}

.row-left,
.row-right {
  display: flex;
  flex-direction: column;
  gap: 0.8537vh;
}

.form-title {
  font-size: 1.375rem;
  font-weight: 500;
}

.form-input-search {
  background-color: transparent;
  border-bottom: 1px solid #707070;
  border: none;
  font-size: 1.125rem;
  height: 4.2689vh;
  margin-bottom: 5.1227vh;
  padding-left: 8px;
  width: 16.111vw;
}
.principal-buttons-filter {
  display: flex;
  flex-direction: row;
  gap: 3.4151vh;
}

.btn-filter,
.btn-search,
.btn-request {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.438rem;
  font-weight: 500;
  height: 5.9765vh;
  width: 16.111vw;
}

.btn-filter,
.btn-request {
  background-color: transparent;
  border: 2px solid #004b40;
  color: #004b40;
}

.btn-search {
  background-color: #004b40;
  color: #fdfdfd;
}

.principal-table {
  display: flex;
  flex-direction: column;
}

.btn-request {
  align-self: flex-end;
  margin-bottom: 2.5613vh;
}

.table {
  background-color: #fdfdfd;
  height: 79.4023vh;
  margin: 0;
  width: 100%;
}

.mat-table {
  height: 100%;
  width: 100%;
}

.table-container,
.body-container {
  height: 100px;
  width: 100%;
}

.header-table {
  background-color: #004b40;
  color: #fdfdfd;
  font-size: 1.125rem;
  font-weight: 600;
  height: 60px;
}

.header-title,
.body-text {
  text-align: center;
  vertical-align: middle;
  width: 1.375rem;
}

.container-list {
  height: 98px;
}

.paginator {
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
}

.search-row,
.row-left,
.row-right,
.btn-search,
.btn-request,
.home-container,
.container-sidebar,
.btn-filter {
  transition-property: all;
  transition-timing-function: linear;
}

@media (max-width: 900px) {
  .search-row,
  .row-left,
  .row-right,
  .btn-search,
  .btn-request,
  .btn-filter {
    transition-property: all;
    transition-timing-function: linear;
  }

  .search-row {
    justify-content: center;
    width: 100%;
  }
  .row-left,
  .row-right {
    width: 100%;
  }
  .form-input-search {
    width: auto;
  }
  .btn-search,
  .btn-filter,
  .btn-request {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .home-container,
  .container-sidebar {
    transition-property: all;
    transition-timing-function: linear;
  }
  .home-container {
    flex-direction: column;
  }
  .container-sidebar {
    width: 100%;
  }
}
