<header class="header-container">
  <img
    class="logo"
    src="../../../assets/images/logo-coink-lateral.png"
    alt="logo coink"
  />
  <div class="header-options">
    <em class="fa-solid fa-bars icon-bar"></em>
    <h1 class="title-header">BACKOFFICE</h1>
    <em class="fa-solid fa-circle-user icon-bar"></em>
  </div>
</header>
<div class="container">
  <div class="container-sidebar">
    <div class="sidebar-profile">
      <div class="profile"></div>
      <div class="profile-title-user">
        <em class="fa-solid fa-lock"></em>
        &nbsp;
        <h2>Jeff</h2>
      </div>
    </div>
    <ul class="sidebar-information">
        <li class="information-tag">Tarjeta visa en dispensadores</li>
        <li class="information-tag">Crear dispensador</li>
        <li class="information-tag">Monitorear y editar dispensadores</li>
        <li class="information-tag">Solicitud tarjetas</li>
    </ul>
  </div>
  <div class="container-principal"></div>
</div>
