.header-container{
    background-color: #004B40;
    height: 9.3916vh;
    padding: 2.3479vh 3.889vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 10vw;
    margin-right: 8.542vw;
}

.header-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon-bar{
    font-size: 40px;
    color: #fdfdfd;
}

.title-header{
    font-size: 22px;
    color: #fdfdfd;
}

.container{
    display: flex;
    flex-direction: row;
}

.container-principal{
    background-color: brown;
    width: 77%;

}

.container-sidebar{

    background-color: #fdfdfd;
    width: 23%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.sidebar-profile{
    padding: 4.2689vh 6.944vw 1.7075vh 6.944vw ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #707070;
    margin-bottom: 2.5613vh;

}

.profile{
    width: 8.681vw;
    height: 8.681vw;
    border-radius: 100%;
    background-color: #D1FBD9;
    margin-bottom: 8px;
}
.profile-title-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-information{
    padding: 0;
}

.information-tag{
    list-style:none;
    font-size: 21px;
    padding: 18px 0px 18px 54px;
    color: #004B40;
}

.information-tag:hover{
    background-color: #004B40;
    color: #fdfdfd;
}