@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

html,
body {
  font-size: 16px;
  height: 100vh;
  background-color: #F2F2F2;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (max-width: 800px) {
  html,
body {
  font-size: 12px;
}
}